@model Escolar2020.Web.Models.App_TutorViewModel

@{
    ViewData["Title"] = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Tutor:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt hidden="hidden">
            @Html.DisplayNameFor(model => model.Persona_Id)
        </dt>
        <dd hidden="hidden">
            @Html.DisplayFor(model => model.Persona_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clave_Familia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clave_Familia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreTutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreTutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parentesco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parentesco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profesion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SexoTutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SexoTutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoTutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoTutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CelularTutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CelularTutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMailTutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMailTutor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Empresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre_Empresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puesto_Empresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puesto_Empresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Trabajo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono_Trabajo)
        </dd>
    </dl>
    <dl>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImageUrlTutor))
            {
                <img src="@Url.Content(Model.ImageUrlTutor)" alt="Image" style="width:200px;height:300px;max-width: 100%; height: auto;" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-xs">Regresar</a>
</div>
